.mb-0 {
    margin-bottom: 0px;
}
.mb-xs {
    margin-bottom: 8px;
}
.mb-sm {
    margin-bottom: 0.5em;
}
.mb-md {
    margin-bottom: 1em;
}
.pr-0 {
    padding-right: 0px;
}
.pl-0 {
    padding-left: 0px;
}
.logo {
    img {
        width: 100%;
    }
}
.hide-for-validation {
    height: 0px;
    width: 0px;
    float: left;
    opacity: 0;
    position: absolute;
    bottom: 15px;
}
.position-relative {
   position: relative;
}
.table-th-valign-middle {
    th {
        vertical-align: middle !important;
    }
}
.skin-purple {
    .wrapper, .main-sidebar, .left-side {
        background-color: #002d5b;
    }
    .main-header {
        .logo, .logo:hover {
            background-color: #002d5b;
        }
        .navbar {
            background-color: #ffffff;
            -webkit-box-shadow: 0 3px 16px rgba(0, 0, 0, 0.16);
            -moz-box-shadow: 0 3px 16px rgba(0, 0, 0, 0.16);
            box-shadow: 0 3px 16px rgba(0, 0, 0, 0.16);
            .nav>li>a {
                color: #011a35;
            }
            .nav>li>a:hover, .nav>li>a:active, .nav>li>a:focus, .nav .open>a, .nav .open>a:hover, .nav .open>a:focus, .nav>.active>a {
                background: rgba(255, 255, 255, 0.1);
                color: #011a35;
                height: 50px;
                border-bottom: 4px solid #002d5b;
            }
            .navbar-custom-menu {
                .user-menu {
                    a, a:hover, a:focus {
                      border-bottom: 0px;
                    }
                    .dropdown-menu {
                        width: 200px;
                        margin-right: 12px;
                        margin-top: 12px;
                        -webkit-box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15)!important;
                        box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15)!important;
                        >li {
                            padding: 8px 0px;
                            &.user-body {
                                border-top: 0px;
                            }
                        }
                        .user-footer {
                            background: #FFF;
                        }
                        .item {
                            .fa  {
                                margin-right: 10px;
                            }
                            a {
                                color: #011a35 !important;
                                padding: 5px 14px;
                                display: block;
                                &:hover {
                                    background: #e8e8e8;
                                }
                            }
                        }
                        &:after {
                            content: "";
                            position: absolute;
                            width: 0;
                            height: 0;
                            top: -18px;
                            border-style: solid;
                            border-width: 9px;
                            border-color: transparent transparent #fff;
                            right: 18px;
                        }
                    }
                }
            }
        }
    }
    .sidebar-menu {
        margin-bottom: 10px;
        >li:hover>a, >li.active>a, >li.menu-open>a {
            color: #fff;
            background: #001a35;
        }
        >li.active>a {
            border-left-color: #ffffff;
        }
        >li>.treeview-menu {
            background: #011a35;
        }
    }
}

.form-group + .error {
    color: #dd4b39;
}

.ReactTable {
    .rt-th {
        text-align: left;
        font-weight: bold;
        padding: 10px !important;
        border-right: 0px !important;
    }
    .rt-tbody {
        .rt-td {
            padding: 12px 10px;
            border-right: 0px !important;
            text-overflow: unset;
            &.option-column {
                padding: 0px 10px 0px 10px;
                display: inline-grid;
                align-items: center;
            }
        }
    }
}

.login-page {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100%;
    background-blend-mode: overlay;
    background: #232323;
}

.login-box {
    width: 780px;
}

.login-box-body {
    padding: 0px;
    border-radius: 9px;
    min-height: 305px;
}

.login-box-body__left, .login-box-body__right {
    display: inline-block;
    width: 50%;
}

.login-box-body__left {
    background: #02315b;
    float: left;
    height: 305px;
    text-align: center;
    padding: 20px;
    color: #FFF;
    h4 {
        font-size: 16px;
        margin-top: 14px;
        letter-spacing: 0.1em;
        line-height: 1.5em;
    }
}

.login-box-body__right {
    padding: 50px 32px;
}

.login-box-body__contact {
    margin-top: 3em;
    h5 {
        font-size: 12px;
        letter-spacing: 0.1em;
    }
    a {
        border: 1px solid #FFF;
        display: inline-block;
        font-size: 18px;
        height: 35px;
        color: #FFF;
        width: 35px;
        margin: 5px;
        padding-top: 4px;
        border-radius: 5px;
    }
}

.employee-information {
    .row {
        padding: 8px 0px;
    }
}

.pagination>li.break {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

.content-header {
    >.breadcrumb {
        clear: left;
        position: static;
        float: none;
    }
    .component-wrapper {
        float: right;
        .item {
            display: inline-block;
            margin-right: 12px;
            &:last-child {
                margin-right: 0px;
            }
        }
    }
}
.modal-body {
    padding: 0px;
}
.btn {
    .fa {
        margin-right: 4px;
    }
}
.btn-primary, .btn-primary:hover {
    background-color: #002d5b;
    border-color: #002d5b;
}

.btn-primary.disabled:hover {
    background-color: #002d5b;
    border-color: #002d5b;
}
.btn-app {
    min-width: 110px;
    height: 68px;
}

.date-picker-container {
    .btn.display-date {
        box-shadow: none !important;
        background: #FFF;
        border: 1px solid #cccccc;
    }
}

.sidepopup-container {
    .sidepopup-note {
        text-align: left;
        box-shadow: none !important;
        padding-left: 0px;
        &:hover {
            cursor: default;
        }
    }
}
.sidepopup-container__modal-dialog {
    width: 500px;
    position: fixed;
    right: 0px;
    height: 100%;
    top: 0px;
    margin: 0px;
}
.sidepopup-container__modal-content {
    position: absolute;
    right: 0px;
    height: 100%;
    width: 100%;
    top: 0px;
}
.sidepopup-container__modal-footer-btn {
    min-width: 80px;
}

.file-upload {
    position: relative;
    border: 1px solid #d2d6de;
    border-radius: 10px;
    height: 64px;
    padding: 21px 12px;
}
.file-upload__loading {
    margin-top: 5px;
    height: 5px;
    width: 100%;
    display: block;
    background: rgb(236, 240, 245);
}
.file-upload__loading-content {
    height: 5px;
    display: block;
    background: #002d5b;
}
.file-upload__upload-button {
    position: absolute;
    right: 20px;
    top: 21px;
    color: #002d5b;
    i {
        margin-right: 3px;
    }
    &:hover {
        cursor: pointer;
    }
}
.file-upload__button-inline {
    display: inline-block;
    margin-left: 14px;
    i {
        font-size: 19px;
    }
}
.file-upload__preview-img {
    position: absolute;
    top: 6px;
    left: 7px;
    width: 3.5em;
    height: 3.5em;
    background-size: cover;
    border-radius: 5px;
}
.file-upload__preview-pdf {
    position: absolute;
    top: 6px;
    left: 7px;
    width: 3.5em;
}
.file-upload__information {
    position: absolute;
    top: 11px;
    left: 65px;
    label {
        margin-bottom: 0px;
    }
}
.file-upload__filename {
    color: #002d5b;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 14em;
}

.form-group {
    label {
        font-weight: normal;
    }
}
.table-option {
    .btn {
        min-width: 80px;
    }
}
.bulk-delete-wrapper {
    position: fixed;
    width: 100%;
    background: #FFFFFF;
    bottom: 0px;
    left: 0px;
    padding: 10px;
    padding-left: 250px;
    z-index: 3;
    -webkit-box-shadow: 0 3px 16px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0 3px 16px rgba(0, 0, 0, 0.16);
    box-shadow: 0 1px 16px rgba(0, 0, 0, 0.16);
}
.box-title.with-title {
    margin-top: 7px;
}

.nav-tabs-custom {
    box-shadow: none;
    border: 1px solid #cecece;
    border-radius: 0px;
}
.nav-tabs-custom>.nav-tabs>li {
    border: 0px;
    border-bottom: 3px solid transparent;
    margin-right: 0px;
}
.nav-tabs-custom>.nav-tabs>li.active, .nav-tabs-custom>.nav-tabs>li:hover {
    border-bottom-color: #002d5b;
}
.nav-tabs-custom>.nav-tabs>li.active>a {
    border-color: transparent;
}
.nav-tabs-custom>.nav-tabs>li.active>a, .nav-tabs-custom>.nav-tabs>li>a:hover {
    color: #08203a;
}
.nav-tabs-custom>.nav-tabs {
    border-bottom-color: #cecece;
}
.tab-content>.tab-pane {
    padding: 8px 15px 15px 15px;
}

/* The container */
.checkbox-wrap {
    width: 25px;
    display: inline-block;
}
.checkbox-wrap + span {
    position: relative;
    bottom: 1px;
}
.checkbox-container {
    display: block;
    position: relative;
    padding: 0px;
    margin: 0px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: #fff;
    border: 1px solid #a9a9a9;
  }
  
  /* On mouse-over, add a grey background color */
  .checkbox-container:hover input ~ .checkmark {
    background-color: #fff;
  }
  
  /* When the checkbox is checked, add a blue background */
  .checkbox-container input:checked ~ .checkmark {
    background-color: #002d5b;
    border: 1px solid #002d5b;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .checkbox-container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .checkbox-container .checkmark:after {
    left: 5px;
    top: 2px;
    width: 6px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .image-preview-wrapper {
      width: 180px;
      .preview {
        background: #999;
        min-height: 180px;
        width: 100%;
        display: flex;
        align-items: center;
        position: relative;
        .btn-wrapper {
            position: absolute;
            top: 6px;
            right: 0px;
            .btn-edit, .btn-remove {
                background: #FFF;
                border-radius: 50%;
                height: 36px;
                width: 36px;
                padding: 0px;
                outline: none;
                box-shadow: none !important;
                border: 1px solid #c5c5c5;
                margin-right: 5px;
                .fa {
                    color: #001a35;
                    margin: 0px;
                }
            }
        }
        img {
            width: 100%;
        }
      }
  }

.modal-header .close {
    margin-top: 2px;
}