.btn-delete-row {
    background: transparent;
    outline: none;
    border: 0px;
    font-size: 19px;
    color: #545454;
    padding: 0px;
    position: relative;
    top: 2px;
    left: 2px;
}
.employee-leave-empty-placeholder {
    display: block;
    text-align: center;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px dashed #989898;
    color: #636363;
}